<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.bundle.min.js}"></script>
<div class="container">
    <div>
        <h1>Список товаров</h1>
        <table class="table">
            <tr><th>Id</th><th>Наименование</th><th>Стоимость</th></tr>
            <tr ng-repeat="p in Products">
                <td>{{p.id}}</td>
                <td>{{p.title}}</td>
                <td>{{p.cost}}</td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteProductById(p.id)">Удалить товар</button>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h1>Добавление товара</h1>
        <form action="#" th:action="@{/product}" method="post" th:object="${product}">
            <div class="mb-3">
                <label class="form-label">Наименование</label>
                <input type="text" class="form-control" id="title" name="title"/>
            </div>
            <div class="mb-3">
                <label class="form-label">Стоимость</label>
                <input type="text" class="form-control" id="cost" name="cost"/>
            </div>
            <div class="mb-3">
                <button type="submit" class="btn-primary">Добавить</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>